{% extends 'layouts/base-fullscreen.html' %}

{# Don't forget that one ! #}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block stylesheets %}
<style>
    .select2-container .select2-selection--single {
        height: 45px !important;
    }
    .select2-selection__arrow {
        height: 40px !important;
    }
</style>

{% endblock stylesheets %}
{% block content %}
<main>
    {% include 'includes/preloader.html' %}
 
    <!-- Hero -->
    <section class="section section-header pb-11 bg-primary text-white">
        <div class="container">
            <form method="post">
                {% csrf_token %}
            
                {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                {% endfor %}
            
                {% for field in form.visible_fields %}
                  <div class="form-group">
                      <div class="text-left" ><label for="{{ field.id_for_label }}">{{ field.label }}</label></div>
                    
                    {{ field|add_class:'form-control'  }}
                    {% for error in field.errors %}
                      <span class="help-block">{{ error }}</span>
                    {% endfor %}
                  </div>
                {% endfor %}
            
                <div class="form-group">
                  <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok"></span> Save
                  </button>
                  <a href="{% url 'home' %}" class="btn btn-default">Cancel</a>
                </div>
              </form> 
        </div>
    </section>
    
<p>Test</p>
</main>

{% endblock content %}

{% block javascripts %}

    {{ form.media }}
<script>
// on first focus (bubbles up to document), open the menu
$(document).on('focus', '.select2-selection.select2-selection--single', function (e) {
  $(this).closest(".select2-container").siblings('select:enabled').select2('open');
});

// steal focus during close - only capture once and stop propogation
$('select.select2').on('select2:closing', function (e) {
  $(e.target).data("select2").$selection.one('focus focusin', function (e) {
    e.stopPropagation();
  });
});


</script>

 
{% endblock javascripts %}


