{% extends 'devapp/base.html' %}
{# Don't forget that one ! #}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}
<main>
    {% include 'includes/preloader.html' %}
    <!-- Hero -->
    <section class="section section-header pb-11 bg-primary text-white">
        <div class="container">
            <div class="row justify-content-left">
                <div class="col-12 col-xl-8 text-center">
                    <h1 class="display-2 mb-3">Create File Name</h1>
                     <form method="post">
                        {% csrf_token %}
                    
                        {% for hidden in form.hidden_fields %}
                          {{ hidden }}
                        {% endfor %}
                    
                        {% for field in form.visible_fields %}
                          <div class="form-group">
                              <div class="text-left" ><label for="{{ field.id_for_label }}">{{ field.label }}</label></div>
                            
                            {{ field|add_class:'form-control'  }}
                            {% for error in field.errors %}
                              <span class="help-block">{{ error }}</span>
                            {% endfor %}
                          </div>
                        {% endfor %}
                    
                        <div class="form-group">
                          <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-ok"></span> Save
                          </button>
                          <a href="{% url 'home' %}" class="btn btn-default">Cancel</a>
                        </div>
                      </form> 
                    {% comment %} <form action="" method="post"> 
                        <div class="form-group">
                        <table> 
                            {{ form|crispy }} 
                        </table> 
                        {% csrf_token %} 
                        <br />
                        <button class="btn mb-2 mr-2 btn-white" type="submit">Submit</button>
                     </div> 
                    </form>  {% endcomment %}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}
{% comment %} 
<div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <table style="display: none">
            {{ view.formset.empty_form }}
        </table>

        <table>
            {{ view.formset }}
        </table>

        <input type="submit" />
    </form>
</div>
<div id="mySelect2"></div>
 {% endcomment %}

{% block javascripts %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{{ form.media }}

<script>
    (function ($) {
        $('#add-form').click(function () {
           
            var index = $('#id_inline_test_models-TOTAL_FORMS').val()
            var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
            newTable.find(':input').each(function () {
                for (attr of ['code', 'id'])
                    $(this).attr(
                        attr,
                        $(this).attr(attr).replace('__prefix__', index)
                    )
            })
            newTable.insertBefore($(this))
            $('#id_inline_test_models-TOTAL_FORMS').val(
                parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
            )
            newTable.slideDown()

        })

        {{ js_script|safe }}

    })($)
</script>


{% endblock javascripts %}


