<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> 
</script>
</head>
<body>
<select name="1">
    <option>1</option>
</select>
<select name="2">
    <option>2</option>
</select>
<select name="3">
    <option>3</option>
    <option>33</option>
</select>
<select name="4">
    <option>4</option>
</select>
<select name="5">
    <option>5</option>
</select>
<script>
$(document).ready(function(){
 i=2;
 $('select[name="'+i+'"]').focus();
});
</script>
</body>
</html>